*{
	margin: 0 px;
	padding: 0 px;
	text-decoration: none;
	list-style-type: none;
}
#headernav,body,#sinput1,#sinput2{transition: all 1.5s;}
.sinput1{
	border-color: #000000!important;
	background-color: #2a2a2a!important;
}
.sinput2{
	border-color: #101010!important;
	background-color: #222!important;
	color: #9d9d9d!important;
}
.games{
	background-color: white;
	background-size: 100% 100%;
	cursor: pointer;
	background-image: url();
	background-repeat: no-repeat;
	background-origin: content-box;
	margin: 50px;
	border: 1px solid #8C8C8C;
	border-radius: 8px;
	height: 110px;
}
.games>span{
	background-color:white;
	margin: 10px;
	margin-top: 80px;
	float: right;
}
